GRAPHQL_ENDPOINT=https://api-h.mediacaonline.com/graphql
GRAPHQ_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYXBwX3N1cGVydmlzb3IiLCJlbnZpcm9ubWVudF9pZCI6MSwiY3JlZGVudGlhbF9pZCI6IjYxZDA2NWRlLWE1OTUtNDYwYy1iNjc2LTlmZjAzYTAzMDdkOSIsImFjY291bnRfaWQiOiI5MGNmMGVjMi1mNjcwLTQ5M2EtYjE3ZC04NTQyMDk2OGM1NzgiLCJpc19zdXBlcnZpc29yIjp0cnVlLCJpc19tZWRpYXRvciI6ZmFsc2UsInRpbWV6b25lIjoiQW1lcmljYS9TYW9fUGF1bG8iLCJsb2NhbGUiOiJwdC1CUiIsImN1cnJlbmN5IjoiQlJMIiwiaWF0IjoxNTY0NDk4OTU0LCJleHAiOjE1NjQ1ODUzNTQsImF1ZCI6InBvc3RncmFwaGlsZSIsImlzcyI6InBvc3RncmFwaGlsZSJ9.eHJiI6hjt8UOkaUA9nf4aTj7S-pqnx0GrcOvPBt8oPA